@{
    ViewData["Title"] = "Home Dashboard Page";
}

<h1 class="page-title">
    Welcome
    <span class="font-red-sunglo">@this.User.Identity.Name</span>
    <span class="caption-helper small">@ViewBag.Title</span>
</h1>

<div class="row">
    <div class="col-md-12"></div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-lg-12">
        <h3>Site map:</h3>
        <ul>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/login_1.html">Login Page</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_home_page.html">Homepage/Dashboard</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h3>Admin</h3>
        <ul>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_company_info_page.html">Company Info</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_user_defined_fields.html">Custom Fields</a></li>
            <li>
                <a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_users_page.html">Users</a>
                <ul>
                    <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_user_page.html">Add User</a></li>
                    <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_user_profile.html">User Profile</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
        <h3>Set Up Management Company</h3>
        <ul>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_setup_management_company.html">Set Up Management Company Landing Page</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_management_company.html">Add Management Company Step 1</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_management_company_step2.html">Add Management Company Step 2</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_management_company_step2a_after_save.html">Add Management Company Step 1 After Save</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_management_company_step3.html">Add Management Company Step 3</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_management_company_step4.html">Add Management Company Step 4</a></li>

            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_management_company_step4a_add_manager.html">Add Management Company Step 4a - Add Manager</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_management_company_profile.html">Management Company Profile</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h3>Set Up Association</h3>
        <ul>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_setup_association.html">Setup Association Landing Page</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_association.html">Setup Association Step 1</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_association_step2.html">Setup Association Step 2</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_association_step3.html">Setup Association Step 3</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_association_step4.html">Setup Association Step 4</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_association_step5.html">Setup Association Step 5</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_association_step6.html">Setup Association Step 6</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_association_step6-addbm.html">Setup Association Step 6 - Add Board Member</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_add_association_step7.html">Setup Association Step 7</a></li>
            <li><a href="http://www.myassociationready.com/ReadyCollect/v2demo/rc_layout_association_profile.html">Association Profile Page</a></li>
        </ul>
    </div>
    <div class="col-lg-6">

    </div>
</div>