<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Logout</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="rc_layout_home_page.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            User Profile
            <i class="fa fa-circle"></i>
        </li>

    </ul>

    <!--IF NEEDED SMALL DROP DONW TOOL BOX ON RIGHT HADN SIDE - CRRENTLY IN RED-->
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>